<div class="container">
    <p>You have received a message on HeartSnArt.</p>
    <p>Below are the contents, including the sender's details:</p>
    <div class="card">
        <div class="card-header">Subject: {{subject}}</div>
        <div class="card-body">
            <h4 class="card-title">Message:</h4>
            <p class="card-text">{{message}}</p>
        </div>
        <div class="card-footer">
            Sender's name: {{name}} | email: {{email}} | Date/time sent: {{contact_date}}
        </div>
    </div>
    <br>
    <p>You can check out more leads for the above contact <button class="btn btn-sm btn-dark btn-outline-info">here</button></p>
    <br><br>
    <small>
        The communications team, 
        HeartSnArt.
    </small>
</div>