{%load static%} 
{%load bootstrap5%}
<div class="container">
    <p>Welcome onboard the HeartSnArt Monthly Newsletter. We are delighted to have you on board! The editorial team will be sharing lots of fun and amazing stuff every month.</p>
    <p>In case you did not make this subscription of username <strong>{{name}}</strong> and email <strong>{{email}}</strong>, it is our bad. We apologise for any inconveniences! You can unsubscribe by <button class="btn btn-sm btn-light btn-outline-primary">hitting this button</button></p>
    <p>Otherwise, it is great to have you with us. Watch out for this month's newsletter!</p>
<br><br>
    <small>
        The welcome team, 
        HeartSnArt.
    </small>
</div>