{%load static%} 
{%load bootstrap5%}
<html>
    <head>
        <style>
            .btn{
                background-color:blueviolet;
            }
            .btn:hover{
                background-color: white;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <p>You have received a message on HeartSnArt. Below are the contents, including the sender's details:</p>
            <div class="card">
                <div class="container">
                  <h4><b>Subject: {{subject}}</b></h4>
                  <p>{{message}}</p>
                  <small>Sender's name: {{name}} | email: {{email}} </small>
                </div>
              </div>
            <br>
            <p>You can check out more leads for the above contact <button class="btn">here</button></p>
            <br><br>
            <small>
                The communications team, 
                HeartSnArt.
            </small>
        </div>
    </body>
</html>
